<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @movie.overview %>
</p>

<p>
  <strong>Original language:</strong>
  <%= @movie.original_language %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>

<p>
  <strong>Vote average:</strong>
  <%= @movie.vote_average %>
</p>

<p>
  <strong>Poster path:</strong>
  <%= @movie.poster_path %>
</p>

<p>
  <strong>Backdrop path:</strong>
  <%= @movie.backdrop_path %>
</p>

<h2>Reviews</h2>
<%= form_for([@movie, @review]) do |f| %>
  <%= render partial: 'reviews/form', locals: {f: f} %>
  <%= f.submit %>
<% end %>
<% @movie.reviews.each do |review| %>
  <%= list_view_for_review(review) %>
<% end %>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
